<main class="contact">
    <div class="cont-inf">
        <div class="area__subtitle">CONTACT</div>
        <h1>
            Reach Out Today  And <br> Unlock Your Tailored <br> Software Solution
        </h1>
        <p>
            Our team of IT experts will assess your needs and craft the optimal solution to drive your business forward
        </p>
    </div>

    <div class="cont-send">
        <div class="send-left">
            <h2>
                Drop your contact info
            </h2>
            <span>
                We'll take it from there to work our tech magic for you!
            </span>

            <div class="inp-box">
                <div class="line1">
                    <input placeholder="First Name" class="line-inp" type="text">
                    <input placeholder="Last Name" class="line-inp" type="text">
                </div>                
                <div class="line1">
                    <input placeholder="Email" class="line-inp" type="text">
                    <input placeholder="Your Subject" class="line-inp" type="text">
                </div>                
                
                <div class="line1">
                    <input placeholder="How can we helf?" class="line-text" type="text">
                </div>             
                
                <button class="inf-btn">SEND MESSAGE</button>
                
            </div>
        </div>
        <div class="send-right">
          <div class="em-cont">

          </div>

          <div class="adress"></div>
        </div>
    </div>
</main>