<main class="portfolio">
    <div class="area__subtitle">Academy</div>
    <h1>
        SSA Academy
    </h1>
    <div class="academy-inf">
      <div class="inf">
        <span>
            SSA: Leading software development and nurturing future developers  <br>
            SSA is a leading software development company in Georgia, specializing in cutting-edge technical solutions. Our project connects education with real-world applications, training the next generation of web developers. Join us at SSA in shaping the future of web development. <br>
            SSA: Where ideas program the future
          </span>

          
    <a class="btn" href="#">Contact</a>
      </div>
       <img src="/assets/illustration_expertise.svg" alt="">
    </div>
</main>