<main>
    <div class="main-inf">
        <h1>
            Empowering Your <br>
            Business with <br>
            Tailored Software <br>
            Solutions
        </h1>
        <span class="inf-text">
            We offer web and mobile app development,
            SaaS platforms for eCommerce, and consulting services to support eCommerce business development
        </span>
        <div class="next-inf">
            <button class="learn">Learn More</button>
            <button class="more">Contact us</button>
        </div>
    </div>
</main>