<main class="main-services">
    <div class="serv-cont">
        <h2>What We do</h2>
        <span class="serv-text">
            We work together with our client to execute impactful product.
        </span>
        <div class="serv-card">
            <app-services-cards src="/assets/analitycs.svg" title="Business analytics" text="Make informed decisions and drive growth with our expert business analytics services."></app-services-cards>
            <app-services-cards src="/assets/UX_UI.svg" title="UX/UI Design" text="We make Web & Mobile applications concepts and designs for your product needs."></app-services-cards>
            <app-services-cards src="/assets/web-development.svg" title="Web Development" text="Our team always chooses the most efficient and latest technologies all while fulfilling your business requirement."></app-services-cards>
            <app-services-cards src="/assets/mobile-applications.svg" title="iOS&Android Development" text="We are following best practices in developing mobile application projects. We pay special attention to their security, speed and integration potential."></app-services-cards>
            <app-services-cards src="/assets/DeVops.svg" title="DevOps" text="Streamline your development and deployment processes for greater efficiency and faster time to market."></app-services-cards>
            <app-services-cards src="/assets/tech-support.svg" title="Technical support" text="We focus on resolving technical issues or problems in the fastest, most cost-effective way."></app-services-cards>
        </div>
    </div>
</main>